.table {
    font-family: Montserrat;
    letter-spacing: -1.3px;
    color: green;
}

.zero_length_employees {
    font-family: Montserrat;
    text-align: center;
    letter-spacing: -1.3px;
    font-size: 1.3rem;
}

.btn {
    margin: 0.6rem;
    font-size: 1.7rem;
    font-family: Montserrat;
    letter-spacing: -1.7px;
    font-weight: 700;
}

.btn-success {
    background: linear-gradient(to right, green, rgb(44, 85, 50));
    border: none;
    transition: 0.5s ease-in all;
}

.btn-success:hover {
    transition: 0.5s ease-in all;
    background: linear-gradient(to right, black, rgb(12, 45, 2));
}
.fa-eye, .fa-trash, .fa-pencil{
    cursor: pointer;
    transition: 0.1s ease-in all;
}
.form-control{
    font-family: Poppins;
    letter-spacing: -1.3px;
    background: linear-gradient(190deg, rgb(30,30,30), rgb(20,70,40))!important;
    color: whitesmoke;
}
.form-control::placeholder{
    color: springgreen;
    opacity: 0.5;
}
option{
    color: black;
}
select{
    color: springgreen;
    cursor: pointer;
    appearance: auto;
}
.fa-eye:hover, .fa-trash:hover, .fa-pencil:hover{
    transform: scale(1.15, 1.15);
    transition: 0.1s ease-in all;
}
.form-search{
    display: grid;
    grid-template-columns: 50% 50%;
}
.status-job{
    border-radius: 6px solid gray;
    padding: 5px;
    text-align: center;
}.alert-danger{
    border: 1px solid red;
}