@if(!loading){
<div class="mt-2 m-1 container-options">
    <div style="display: grid; grid-template-columns: 50% 50%;">
        <div>
            <label for="name" class="form-label">Buscar por nombre o apellido</label>
            <input type="text" [(ngModel)]="nameControl" name="name"
                id="name" class="form-control" placeholder="🔍 Ingresa un valor...">
        </div>
        <div>
            <label for="departmentControl" class="form-label">Filtrar por departamento</label>
            <select name="departmentControl" id="departmentControl" [(ngModel)]='departmentControl'
                class="form-control">
                @for(department of departments; track department){
                <option value={{department}}>{{department}}</option>
                }
            </select>
        </div>
    </div>
</div>
@if(filteredEmployees.length !==0){
<table class="table m-1 fade-in-container">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">E-mail</th>
            <th scope="col">Género</th>
            <th scope="col">Estado</th>
            <th scope="col">Salario en bruto</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for(employee of filteredEmployees; track employee._id){
        <tr>
            <td>{{employee.personalInfo.name}}</td>
            <td>{{employee.personalInfo.lastname}}</td>
            <td>{{employee.personalInfo.email}}</td>
            <td>{{employee.personalInfo.gender}}</td>
            <td class="status-jon"
                [ngStyle]="{'background-color': employee.jobInfo.status === 'Presencial' ? 'darkturquoise' : employee.jobInfo.status === 'Híbrido' ? 'violet' : 'khaki'}">
                {{employee.jobInfo.status}}</td>
            <td>${{formatValue(employee.financialInformation.grossSalary)}}</td>
            <td>
                <i class="fa-solid fa-eye m-1" data-bs-toggle="offcanvas" data-bs-target="#viewEmployee"
                    (click)="setEmployeeToView(employee)" aria-controls="viewEmployee"></i>
                <i style="color: red;" class="fa-solid fa-trash m-1" (click)="deleteEmployee(employee._id)"></i>
                <i class="fa-solid fa-pencil m-1" (click)="setEmployeeToUpdate(employee)" data-bs-toggle="offcanvas"
                    data-bs-target="#addEmployee" aria-controls="addEmployee"></i>
            </td>
        </tr>
        }
    </tbody>
</table>
@if(employees.length >= 3){
<div class="d-flex mt-2 flex-column align-items-center justify-content-center">
    <a class="btn btn-info" routerLink="/dashboard/employees">+VER MÁS</a>
</div>
}
}@else{
<div class="d-flex flex-column align-items-center fade-in-container">
    <div class="alert alert-danger" role="alert">
        <i class="fa-solid fa-circle-exclamation m-1"></i> No se han encontrado empleados.
    </div>
</div>
}
}@else {
<div class="d-flex justify-content-center fade-in-container mt-3">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
}
<app-add-employee></app-add-employee>
<app-view-employee></app-view-employee>