<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">
        <button class="btn btn-outline-success me-2" type="button">📰 Panel general</button>
        <button class="btn btn-outline-success me-2" type="button">🎯 Objetivos y cumplimiento</button>
    </form>
</nav>
<section class="m-2">
    <div class="d-flex align-items-center">
        <h1 class="p-2"><i class="fa-solid fa-users m-1"></i> Empleados</h1>
        <button class="btn btn-success" data-bs-toggle="offcanvas" data-bs-target="#addEmployee"
            aria-controls="addEmployee">+AGREGAR EMPLEADO</button>
    </div>
    <router-outlet></router-outlet>
</section>
<app-add-employee></app-add-employee>