<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">
        <button class="btn btn-outline-success me-2" routerLink="general-panel" type="button">📰 Panel general</button>
        <button class="btn btn-outline-success me-2" routerLink="objectives-and-accomplishment" type="button">🎯
            Objetivos y cumplimiento</button>
        <button class="btn btn-outline-success me-2" routerLink="satisfaction" type="button">😌
            Satisfacción laboral
        </button>
    </form>
</nav>
<section class="m-2">
    <button class="btn btn-danger btn-back" (click)="back()"><i class="fa-solid fa-arrow-left m-1"></i> VOLVER</button>
    <router-outlet></router-outlet>
</section>
<app-add-employee></app-add-employee>