<h1 class="m-2">Creando mi empresa</h1>
<div class="d-flex flex-column m-4 mt-2 fade-in-container">
    <form class="formAddEnterprise" [formGroup]="formAddEnterprise" (submit)="handleSubmit()">
        <div>
            <div class="m-1">
                <div>
                    <label for="nameEnterprise" class="form-label">🏛️ Nombre de la empresa</label>
                    <input [ngClass]="{'input-error': nameEnterprise?.touched && !nameEnterprise?.valid}" type="text"
                        class="form-control" placeholder="Razón social" formControlName="nameEnterprise">
                </div>
                <div class="alert alert-danger" [hidden]="!nameEnterprise?.touched || nameEnterprise?.valid">
                    <i class="fa-solid fa-triangle-exclamation"></i> El nombre de la empresa es obligatorio.

                </div>
            </div>
        </div>
        <div class="m-1">
            <div>
                <label for="description" class="form-label">📖 Descripción</label>
                <textarea [ngClass]="{'input-error': description?.touched && !description?.valid}" name="description"
                    id="description" class="form-control" formControlName="description"
                    placeholder="'GreenTeccnia+ es un software dedicado a la automatización de la gestión empresarial...'"></textarea>
            </div>
            <div class="alert alert-danger" [hidden]="!description?.touched || description?.valid">
                <i class="fa-solid fa-triangle-exclamation"></i> La descripción de la empresa es obligatoria.
            </div>
        </div>
        <div style="display: grid; grid-template-columns: 50% 50%;">
            <div>

                <fieldset style="display: grid; grid-template-columns: 50% 50%;"
                    formGroupName="taxIdentificationNumber">
                    <div>
                        <div class="m-1">
                            <label for="number" class="form-label">CUIT / CUIL / NIF</label>
                            <input
                                [ngClass]="{'input-error': taxIdentificationNumber?.touched && !taxIdentificationNumber?.valid}"
                                type="text" id="number" class="form-control" formControlName="number"
                                placeholder="Ingresa una identificación fiscal">
                        </div>
                        <div class="alert alert-danger m-1"
                            [hidden]="!taxIdentificationNumber?.touched || taxIdentificationNumber?.valid">
                            <i class="fa-solid fa-triangle-exclamation"></i> El número de identificación fiscal es
                            obligatorio.
                        </div>
                    </div>
                    <div class="m-1">
                        <div>
                            <label for="typeTaxIdentificationNumber" class="form-label">Tipo</label>
                            <select [ngClass]="{'input-error': typeTaxId?.touched && !typeTaxId?.valid}"
                                id="typeTaxIdentificationNumber" formControlName="type" class="form-control"
                                placeholder="Ingresa una identificación fiscal">
                                <option selected disabled>Selecciona una opción</option>
                                <option value="CUIT">CUIT</option>
                                <option value="CUIL">CUIL</option>
                                <option value="NIF">NIF</option>
                            </select>
                        </div>
                        <div class="alert alert-danger" [hidden]="!typeTaxId?.touched || typeTaxId?.valid">
                            <i class="fa-solid fa-triangle-exclamation"></i> El tipo de identificación fiscal es
                            obligatorio.
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="m-1">
                <div>
                    <label for="yearOfStart" class="form-label">Inicio de las operaciones</label>
                    <input [ngClass]="{'input-error': dateOfStart?.touched && !dateOfStart?.valid}" type="date"
                        id="yearOfStart" class="form-control" placeholder="Año de inicio de operaciones"
                        formControlName="dateOfStart">
                </div>
                <div class="alert alert-danger" [hidden]="!dateOfStart?.touched || dateOfStart?.valid">
                    <i class="fa-solid fa-triangle-exclamation"></i> La fecha de inicio de operaciones es obligatoria.
                </div>
            </div>
        </div>
        <hr>
        <div class="m-1 mt-3">
            <h4><i class="fa-solid fa-earth-americas m-1"></i> Localización y geografía</h4>
            <p class="description_section">Queremos saber... ¿En qué país se encuentra tu empresa?</p>
        </div>
        <div style="display: grid; grid-template-columns: 33% 33% 34%;">
            <div class="m-1">
                <div>

                    <label for="country" class="form-label">🏳️ País</label>
                    <select [ngClass]="{'input-error': country?.touched && !country?.valid}"
                        [disabled]="!selectedCountry" class="form-control" formControlName="country"
                        (change)="getProvincesOrStates()">
                        @for(country of countries; track country){
                        <option value={{country}}>{{country}}</option>
                        }
                    </select>
                </div>
                <div class="alert alert-danger" [hidden]="!country?.touched || country?.valid">
                    <i class="fa-solid fa-triangle-exclamation"></i> El país de tu empresa es obligatorio.
                </div>
            </div>
            <div class="m-1">
                <div>
                    <label for="city" class="form-label">🗾 Estado o provincia</label>
                    <select [ngClass]="{'input-error': stateOrProvince?.touched && !stateOrProvince?.valid}" type="text" class="form-control" placeholder="'Buenos Aires'" formControlName="stateOrProvince">
                        <option disabled selected>Selecciona un estado o provincia...</option>
                        @for(state of provincesOrStates; track state){
                            <option value={{state}}>{{state}}</option>
                        }
                    </select>
                </div>
                <div class="alert alert-danger" [hidden]="!stateOrProvince?.touched || stateOrProvince?.valid">
                    <i class="fa-solid fa-triangle-exclamation"></i> Ingresa tu estado o provincia.
                </div>
            </div>
            <div class="m-1">
                <div>
                    <label for="city" class="form-label">🏙️ Ciudad</label>
                    <input [ngClass]="{'input-error': city?.touched && !city?.valid}" type="text" class="form-control"
                        placeholder="Ciudad" formControlName="city" type="text" class="form-control"
                        placeholder="Ingresa una ciudad" formControlName="city">
                </div>
                <div>
                    <div class="alert alert-danger" [hidden]="!city?.touched || city?.valid">
                        <i class="fa-solid fa-triangle-exclamation"></i> La ciudad de tu empresa es obligatorio.
                    </div>
                </div>
            </div>
        </div>
        <div>
            <fieldset formGroupName="address" style="display: grid; grid-template-columns: 50% 50%;">
                <div>
                    <div class="m-1">
                        <div>
                            <label for="address" class="form-label">Dirección</label>
                            <input [ngClass]="{'input-error': address?.touched && !address?.valid}" type="text"
                                class="form-control" placeholder="Razón social" formControlName="nameEnterprise"
                                type="text" class="form-control" placeholder="Dirección de tu empresa"
                                formControlName="name">
                        </div>
                        <div class="alert alert-danger" [hidden]="!address?.touched || address?.valid">
                            <i class="fa-solid fa-triangle-exclamation"></i> La dirección de la empresa es obligatorio.
                        </div>
                    </div>
                </div>
                <div style="display: grid; grid-template-columns: 50% 50%;">
                    <div class="m-1">
                        <label for="number" class="form-label">Número</label>
                        <input type="text" class="form-control" placeholder="Número" formControlName="numberAddress">
                    </div>
                    <div class="m-1">
                        <label for="apartment" class="form-label">Piso</label>
                        <input type="text" class="form-control" placeholder="Piso" name="apartment" id="apartment"
                            formControlName="apartment">
                    </div>
                </div>
            </fieldset>
        </div>
        <hr>
        <div class="m-1 mt-3">
            <h4>Acerca de tu organización</h4>
            <p class="description_section">¿Cuántos empleados son? ¿En qué nicho te posicionas mejor? ¿En qué divisa
                operan?</p>
        </div>
        <div style="display: grid; grid-template-columns: 50% 50%;">

            <div class="m-1">
                <label for="companySize" class="form-label">Tamaño de la empresa</label>
                <select id="companySize" class="form-control" style="max-width: 100%;" formControlName="companySize">
                    <option selected disabled style="color: black;">Ingresa una opción</option>
                    <option value="1-10">1-10</option>
                    <option value="11-50">11-50</option>
                    <option value="51-100">51-100</option>
                    <option value="Más de 100">Más de 100</option>
                </select>
            </div>
            <div class="m-1">
                <label for="country" class="form-label">Rubro de la empresa</label>
                <div>
                    <select id="businessSector" class="form-control" formControlName="businessSector">
                        <option disabled selected>Indica el rubro</option>
                        <option value="Agrícola y agroindustria">Agrícola y agroindustria</option>
                        <option value="Servicio de comidas">Servicio de comidas</option>
                        <option value="Tecnología de la información">Tecnología de la información</option>
                        <option value="Transporte y logística">Transporte y logística</option>
                        <option value="Educación y capacitación">Educación y capacitación</option>
                        <option value="Construcción e infraestructura">Construcción e infraestructura</option>
                        <option value="Turismo y ocio">Turismo y ocio</option>
                        <option value="Retail y comercio">Retail y comercio</option>
                        <option value="Salud">Salud</option>
                        <option value="Servicios financieros o legales">Servicios financieros o legales</option>
                        <option value="Energías renovables">Energías renovables</option>
                        <option value="Cosmética y belleza">Cosmética y belleza</option>
                        <option value="Otros">Otros</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="display: grid; grid-template-columns: 50% 50%;">
            <div class="m-1">
                <label for="currency" class="form-label">Divisa de las operaciones</label>
                <select id="currency" class="form-control" formControlName="currency">
                    <option disabled selected>Indica una divisa</option>
                    <option value="ARS">ARS</option>
                    <option value="JOD">JOD</option>
                    <option value="KWD">KWD</option>
                    <option value="GBP">GBP</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="CHF">CHF</option>
                    <option value="JPY">JPY</option>
                    <option value="CAD">CAD</option>
                    <option value="CNY">CNY</option>
                    <option value="AUD">AUD</option>
                    <option value="MXN">MXN</option>
                    <option value="BRL">BRL</option>
                </select>
            </div>
            <div class="m-1">
                <label for="city" class="form-label">Tipo de empresa</label>
                <select name="" id="businessType" class="form-control" formControlName="businessType">
                    <option selected disabled>Tipo de empresa</option>
                    <option value="PyME">PyME</option>
                    <option value="Proyecto Personal">Proyecto Personal</option>
                    <option value="Sociedad Anónima (S.A)">Sociedad Anónima (S.A)</option>
                    <option value="Sociedad de Responsabilidad Limitada (S.R.L)">Sociedad de Responsabilidad
                        Limitada (S.R.L)</option>
                    <option value="Empresa de triple impacto">Empresa de triple impacto</option>
                    <option value="Pequeño emprendimiento sustentable">Pequeño emprendimiento sustentable</option>
                </select>
            </div>
        </div>
        <input type="submit" value="REGISTRAR MI EMPRESA EN GREENTECCNIA+" class="m-1 mt-2 btn"
            style="font-family: Poppins; letter-spacing: -0.7px; font-weight: 700; background-color: whitesmoke; color: green;">
        @if(loading){
        <div class="d-flex justify-content-center mt-2">
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        }
        @if(errorMessage){
        <div class="alert alert-danger m-1"
            style="font-family: Poppins; letter-spacing: -1.1px;font-weight: 700; background-color: rgb(255, 0, 0); color:whitesmoke ;border: none;">
            {{errorMessage}}</div>
        }
    </form>
</div>