@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

.body {
    color: rgb(30, 255, 40);
    font-family: Montserrat;
    padding: 0.8rem;
    letter-spacing: -1.5px;
    margin: 15px 0px 15px 10px;
    background-color: rgba(50, 255, 20, 0.4);
    border-radius: 10px 0px 0px 10px;
}

.body h3 {
    color:
        /*rgba(3,33,3,0.9)*/
        white;
    font-weight: 700;
}

.expected-check-in-time {
    letter-spacing: -1px;
    color: whitesmoke;
}

.offcanvas {
    background: linear-gradient(180deg, rgb(10, 55, 10), rgb(5, 50, 25), rgb(5, 110, 4));
    width: 48rem;
}
.offcanvas-body{
    padding: 0%;
}

.beta_tag {
    padding: 2px;
    border-radius: 5px;
    font-family: Montserrat;
    letter-spacing: -1.1px;
}

.technical-sheet {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 2px;
    border-radius: 8px;
}

.box-data {
    background: linear-gradient(180deg, rgba(3, 44, 3, 0.8), rgba(5, 80, 8, 0.9));
    border-radius: 6px;
    padding: 0.7rem;
    border: 1px solid springgreen;
}

.tag_mood, .tag{
    padding: 5px;
    margin: 3px;
    border-radius: 6px;
    font-size: 0.8rem;
}
.tag {
    color: rgb(10, 55, 10);
    font-weight: 600;
    background: linear-gradient(190deg, white, rgb(210, 255, 200));
}
.tag_mood{
    color: black;
    font-weight: 500;
    background: linear-gradient(190deg, rgb(150, 240, 30), rgb(230, 240, 230));
}

.technical-sheet__name_and_lastname h5 {
    font-weight: 600;
    font-size: 1.8rem;
}

.personal-data {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2px;
}

.assist-data {
    grid-template-columns: 60% 40%;

}
.alert-assist{
    font-weight: 600;
    color: rgb(220,220,220);
}

.survey-data {
    grid-template-columns: 55% 45%;
}
.evolution_satisfaction_div{
    background: none;
    background-color: rgba(215,255,215,0.2)!important;
    color: whitesmoke;
}
.evolution_satisfaction{
    letter-spacing: normal;
}
.survey-data,
.assist-data,
.personal-data {
    display: grid;
    grid-gap: 2px;
}

.index {
    font-size: 3.5rem;
    font-weight: 700;
}

.h4_index {
    text-align: center;
    font-size: 1rem;
}

hr {
    color: rgba(3, 44, 3, 0.8);
    margin: 0.7rem 0 0.7rem 0;
}

.fact {
    font-weight: 600;
    margin-bottom: 0%;
}

.form-label {
    color: whitesmoke;
}

.btn-light,
.btn-info {
    font-family: Montserrat;
    letter-spacing: -1.3px;
    font-weight: 700;
}

/*text colors*/
.text-green {
    color: springgreen;
}

.text-orange {
    color: orange;
}

.text-red {
    color: rgb(255, 80, 80);
}

/*tables*/
.table-d,
.table-w {
    font-weight: 500;
}

.table-d {
    background-color: rgb(240, 20, 20);
    color: whitesmoke;
}

.table-w {
    background-color: orange;
}

.table-s {
    background-color: rgb(40, 230, 10);
}

.powered-span-surveygreen {
    color: whitesmoke;
    margin-top: 1.4rem;
    font-size: 0.9rem;
    letter-spacing: -1px;
}

#surveyGreen {
    color: rgb(67, 255, 161);
    font-weight: 400;
    font-family: "Stack Sans Notch", sans-serif;
    border-radius: 4px;
}

.survey_score {
    font-size: 2.6rem;
}

/*estilos para CSS y puntaje*/
.perfect-score{
    color: rgb(25, 255, 25)!important;
}
.success-score {
    color: springgreen;
}

.alert-score {
    color: rgb(255, 140, 0)
}

.danger-score {
    color: rgb(240, 20, 20);
}
.growth-score{
    background-color: whitesmoke;
    padding: 0.3rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: -0.6px;
}
.negative-growth{
    color: rgb(240, 20, 20);
}
.positive-growth{
    color: rgb(0, 145, 24);
}
.count{
    padding: 0.2rem;
    margin: 0.2rem;
    background-color: black;
    color: white;
    border-radius: 4px;
}
.add-assist_alert-button{
    cursor: pointer;
    color: rgb(113, 255, 184);
}
.add_assist_alert-canvas{
    background-color: whitesmoke;
    width: 20rem;
}