<section class="p-2 fadeInContainer">
    <div class="p-2">
        <h2 class="h2-add-sustainability mt-2"><i class="fa-solid fa-solar-panel m-1"></i> Añadir configuraciones de sustentabilidad</h2>
        <p style="letter-spacing: -1.4px; color: rgb(200,200,200); font-family: Poppins; font-size: 1.2rem;" class="p-1">A continuación, completa tu módulo de sustentabilidad para mejorar tu perfil de empresa y experiencia de usuario. Estos datos puedes actualizarlos en un futuro, pero que los completes ahora es necesario para terminar de crear tu empresa correctamente.</p>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</section>