<div class="formAddSustainabilityData m-2">

    <form class="p-2" [formGroup]="formAccomplishedCertifications" (submit)="handleSubmit()">
        <h3>¿Tu empresa cumple estas certificaciones o normativas?</h3>
        <p style="color: rgb(200,200,200); font-family: Poppins; letter-spacing: -1.4px; font-size: 1.2rem;">
            <strong>Importante</strong>: GreenTeccnia+ verificará esta información antes de aceptarla en el sistema. Si
            tu empresa aún no cuenta con certificaciones, podés avanzar con la configuración y gestionar el proceso más
            adelante
        </p>
        <fieldset formGroupName="certificationsAccomplished" class="d-flex m-3">

            <div class="first-row p-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="ISO 14001" id="ISO-14001"
                        formControlName="ISO_14001">
                    <label class="form-check-label" for="ISO-14001">
                        <i class="fa-solid fa-stamp m-1"></i> ISO 14001
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="ISO 50001" id="ISO-50001"
                        formControlName="ISO_50001">
                    <label class="form-check-label" for="ISO-50001">
                        <i class="fa-solid fa-stamp m-1"></i> ISO 50001
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Certificación LEED" id="certificacion-LEED"
                        formControlName="certification_LEED">
                    <label class="form-check-label" for="certificacion-LEED">
                        <i class="fa-solid fa-stamp m-1"></i> Certificación LEED
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Certificación LEED" id="certificacion-LEED"
                        formControlName="B_Corp">
                    <label class="form-check-label" for="certificacion-LEED">
                        <i class="fa-solid fa-stamp m-1"></i> B Corp
                    </label>
                </div>

            </div>
            <div class="second-row p-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="ISO 26000" id="ISO-26000"
                        formControlName="ISO_26000">
                    <label class="form-check-label" for="ISO-26000">
                        <i class="fa-solid fa-stamp m-1"></i> ISO 26000
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="ISO 20400" id="ISO-20400"
                        formControlName="ISO_20400">
                    <label class="form-check-label" for="ISO-20400">
                        <i class="fa-solid fa-stamp m-1"></i> ISO 20400
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="ISO 14046" id="ISO-14046"
                        formControlName="ISO_14046">
                    <label class="form-check-label" for="ISO-14046">
                        <i class="fa-solid fa-stamp m-1"></i> ISO 14046
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="ISO 14064" id="ISO-14064"
                        formControlName="ISO_14064">
                    <label class="form-check-label" for="ISO-14064">
                        <i class="fa-solid fa-stamp m-1"></i> ISO 14064
                    </label>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn-submit" class="btn btn-success"
            style="font-family: Poppins; letter-spacing: -0.7px; font-weight: 700; background-color: whitesmoke; color: green;">SIGUIENTE
            <i class="fa-solid fa-arrow-right m-1"></i></button>
            @if(loading){
            <div class="m-2 mt-3">
                <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            }
            @if(errorMessage){
                <div class="alert alert-danger mt-3" style="font-family: Poppins; letter-spacing: -1.1px;font-weight: 700; background-color: rgb(255, 0, 0); color:whitesmoke ;border: none;">{{errorMessage}}</div>
            }
    </form>
</div>