<div class="fade-in-container">
    <div class="p-2 d-flex align-items-center">
        <h1>🎯 Objetivos y cumplimiento</h1>
        <div class="d-flex align-items-center">
            <select name="period" id="period" class="form-select m-2">
                <option value="last_week">Última semana</option>
                <option value="last_month">Último mes</option>
                <option value="last_year">Último año</option>
            </select>
            <button class="btn btn-success m-1" data-bs-toggle="offcanvas" data-bs-target="#addObjective"
            aria-controls="addObjective">+OBJETIVO</button>
        </div>
    </div>
</div>