.offcanvas {
    width: 55rem;
    padding: 0.2rem;
    background: linear-gradient(180deg, rgb(78, 255, 98), rgb(189, 255, 189), rgb(50, 240, 150), rgb(81, 204, 124));
    font-family: Poppins;
    letter-spacing: -0.9px;
}

.offcanvas-header {
    padding: 1rem 1rem 0rem;
}

h1 {
    letter-spacing: -1.9px;
    font-size: 1.5rem;
    font-weight: 800;
}

h3, h4 {
    color: rgb(100, 100, 100);
    letter-spacing: -1.7px;
    font-size: 1.2rem;
    padding: 0%;
    font-weight: 600;
}

p {
    letter-spacing: -1.1px;
    margin-top: 12px;
    color: rgb(60, 60, 60);
}
.form{
    padding: 5px;
}
input[type=text] {
    font-family: Poppins;
}
select{
    appearance: auto;
    cursor: pointer;
}
option{
    color: black;
}
.input-group{
    display: block;
}
.form-label {
    font-weight: 600;
    color: black;
    letter-spacing: -1.1px;
    margin: 0%;
    margin-top: 3px;
}
.form-control{
    border-bottom: 2px solid springgreen!important;
    background: linear-gradient(180deg, rgb(40,40,40), rgb(30,40,12));
    border: none;
    color: whitesmoke;
    letter-spacing: -0.8px;
}
.form-control::placeholder{
    color: springgreen;
    opacity: 0.7;
    letter-spacing: -0.8px;
}
.grills {
    padding: 1.3rem;
    border-radius: 15px;
    background: linear-gradient(180deg, whitesmoke, white)
}
hr{
    color: black;
}
.btn-success{
    letter-spacing: -1.4px;
    font-weight: 500;
}
.currency-sign{
    color: green;
    background-color: springgreen;
}
.alert-danger{
    border: 1px solid red;
    border-radius: 8px;
    font-size: 0.85rem;
    text-align: start;
    margin: 0%;
    padding: 10px;
}
.alert-verify-form{
    font-size: 1.1rem;
}
.ng-error{
    border-bottom: 2px solid red!important;
    background: linear-gradient(180deg, rgb(255, 0, 0), rgb(175,60,40));
    transition: 0.3s ease-in all;
    color: white;
}
.ng-error::placeholder{
    color: white;
    transition: 0.3s ease-in all;
}
::-webkit-scrollbar{
    background-color: rgb(30,40,12);
    border-radius: 7px;
    padding: 12px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, white,whitesmoke, rgb(210,255,210));
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(180,180,180);
}