form {
    padding: 2rem;
    background: linear-gradient(190deg, #ffffff, #fbffd9);
    font-family: "Poppins";
    box-shadow: 0px 0px 14px 2px rgb(140, 140, 140);
    border-radius: 35px;
    max-width: 100%;
    width: 400px;
    aspect-ratio: 1/1;
    letter-spacing: -1.2px;
}
.container-fade-in{
    animation-name: fadeInContainer;
    animation-duration: 0.4s;
}
.forgot-password{
    text-decoration: none;
    color: black;
}

input[type=text] {
    background-color: #c7ffaf;
}

#basic-addon1 {
    background-color: black;
    color: #c7ffaf;
}

@keyframes fadeInContainer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}