<div>
    <h4 class="text-center h4-grid"><i class="fa-solid fa-chart-simple m-1"></i>EVOLUCIÓN DE {{typeView =='active'?
        'ACTIVOS' : typeView == 'income' ? 'INGRESOS' : typeView == 'passive' ? 'PASIVOS' : "EGRESOS"}} EN EL ÚLTIMO TIEMPO
    </h4>
    @if(!loading && !errorMessage){
    <canvas class="mt-2 fadeIn" baseChart [data]="pieChartDataEvolution" [labels]="pieChartLabelsEvolution"
        [type]="pieChartTypeEvolution" [options]="{responsive: true}"></canvas>
    }@else {
    @if(!errorMessage){
    <div class="d-flex flex-column align-items-center m-5">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-success" role="status">
                <span style="font-size: 5rem" class="visually-hidden">Loading...</span>
            </div>
            <div>
                <p class="m-1" style="font-family: Montserrat; font-size: 1.4rem; letter-spacing: -1.2px;">
                    OBTENIENDO INFORMACIÓN</p>
            </div>
        </div>
    </div>
    } @else {
    <div class="alert alert-danger fade-in-container mt-2"><i class="fa-solid fa-circle-exclamation m-1"></i> {{errorMessage}}</div>
    }
    }
</div>