<!--Dispositivos registrados-->
<div class="card-data" [ngClass]="{'montserrat-mode': isMontserrat,'poppins-mode': isPoppins, 'card-data-dark': isDark, 'card-data-light': isLight, 'rounded-buttons': roundedButtons, 'square-buttons': squareButtons, 'card-data-monochrome': isMonochrome}">
    <h2 class="text-center mt-1"><i class="fa-regular fa-hard-drive"></i> DISPOSITIVOS REGISTRADOS</h2>
    <hr>
    <div class="d-flex flex-column align-items-center">

        @if(devices.length === 0){
        <div class="alert alert-danger" role="alert">No se han encontrado dispositivos del usuario.</div>
        }@else{
        @for (device of devices; track device.deviceType) {
        <div class="card card-device" style="width: 20rem;">
            <div class="card-body text-center">
                <h5 class="card-title">@if(device.deviceType == "Escritorio"){<i class="fa-solid fa-desktop"></i>} @else if(device.deviceType == "Móvil"){<i class="fa-solid fa-mobile-screen"></i>} @else {<i
                        class="fa-solid fa-tablet-screen-button"></i>} Dispositivo: <b>{{device.deviceType}}</b></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Sistema operativo: <b>{{device.os}}</b></h6>
                <h6 class="card-text">Navegador: <b>{{device.browser}}</b></h6>
                <h6>Últ. vez: <b>{{device.lastLogin | dateDevice: 'short'}}</b></h6>
                <button class="btn btn-danger"
                    style="font-family: Montserrat; letter-spacing: -1.1px; font-weight: 600; font-size: 0.9rem;">¿DESCONOCES
                    ESTE DISPOSITIVO?</button>
            </div>
        </div>
        }
        }
    </div>
</div>