<div class="navbar flex-column fadeInContainer"
    style="background-color: #b2ff94; margin-top: 0.9rem; border-radius: 6px;align-items: inherit; justify-content: center;">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <button class="nav-link" type="button" (click)="showForm('income'); $event.preventDefault()"
                style="font-family: Poppins; letter-spacing: -1.2px; font-weight: 600; padding:0.4rem; border:1px solid green; border-radius: 5px; margin:0.3rem; color: green"
                [ngStyle]="{'background': selectedForm === 'income' ? 'black' : 'none', 'color': selectedForm === 'income' ? '#b2ff94' : 'green'}"><span style="color: green;">&uarr;</span> Ingresos</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" type="button" (click)="showForm('expense'); $event.preventDefault()"
                style="font-family: Poppins; letter-spacing: -1.2px; font-weight: 600; padding:0.4rem; border:1px solid green; border-radius: 5px; margin:0.3rem; color: green"
                [ngStyle]="{'background': selectedForm === 'expense' ? 'black' : 'none', 'color': selectedForm === 'expense' ? '#b2ff94' : 'green'}">
                <span style="color: red;">&darr;</span> Egresos</button>
        </li>
    </ul>
    <div class="routing flex-column">
        @if(selectedForm == "income"){
        <app-add-income></app-add-income>
        } @else {
        <app-add-expense></app-add-expense>
        }
    </div>
</div>