<div>

    <div class="active d-flex flex-column">
        <h4 class="h4-grid">PROYECCIONES ESTIMADAS</h4>
        @if(!loading){
        <div class="d-flex flex-column align-items-center container-projection ">
            <h5 class="h5-projection">PROYECCIÓN DE ACTIVOS PARA EL PRÓXIMO DÍA</h5>
            <span style="font-family: Montserrat; letter-spacing: -1.2px;"
                [ngStyle]="{'color': projectedPositiveItemsByNextDate.valueOf() >= 0 ? 'green' : 'red' }"><strong>$</strong>{{formatValue(projectedPositiveItemsByNextDate)}}</span>
        </div>
        <div class="d-flex flex-column align-items-center container-projection mt-2">
            <h5 class="h5-projection">PROYECCIÓN DE ACTIVOS PARA EL PRÓXIMO MES</h5>
            <span style="font-family: Montserrat; letter-spacing: -1.2px;"
                [ngStyle]="{'color': projectedPositiveItemsByNextMonth.valueOf() >= 0 ? 'green' : 'red' }"><strong>$</strong>{{formatValue(projectedPositiveItemsByNextMonth)}}</span>
        </div>
        <div class="d-flex flex-column align-items-center container-projection mt-2">
            <h5 class="h5-projection">PROYECCIÓN DE ACTIVOS PARA EL PRÓXIMO AÑO</h5>
            <span style="font-family: Montserrat; letter-spacing: -1.2px;"
                [ngStyle]="{'color': projectedPositiveItemsByNextYear.valueOf() >= 0 ? 'green' : 'red' }"><strong>$</strong>{{formatValue(projectedPositiveItemsByNextYear)}}</span>
        </div>
        } @else {
        <div class="d-flex flex-column align-items-center m-5">
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-success" role="status">
                    <span style="font-size: 5rem" class="visually-hidden">Loading...</span>
                </div>
                <div>
                    <p class="m-1" style="font-family: Montserrat; font-size: 1.4rem; letter-spacing: -1.2px;">
                        OBTENIENDO INFORMACIÓN</p>
                </div>
            </div>
        </div>
        }
    </div>
</div>