<h3 class="option-h3"><i class="fa-solid fa-key m-1"></i> Contraseña y recuperación</h3>
<p class="adjacent-p-info text-center">Cambia tu contraseña o añade una <i>recovery key.</i></p>

@if(loading){
<div class="d-flex justify-content-center">
    <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<p class="text-center loading-p" style="font-family: Poppins; letter-spacing: -1.4px; color: #6fe085;">
    Cargando...</p>
} @else {

<div class="d-flex flex-column">
    <a routerLink="password" class="btn btn-success"><i class="fa-solid fa-key m-1"></i> Actualizar mi
        contraseña
    </a>
    <a routerLink="recovery-key" class="btn btn-light mt-1"><i class="fa-solid fa-key m-1"></i> Configurar
        una clave de recuperación
    </a>
</div>
}