<div class="container-security-panel p-3">
    <a routerLink="/dashboard/my-user/security" class="btn btn-danger mb-2"
        style="font-family: Poppins; letter-spacing: -1.3px;">&#8592;Atrás</a>
    <h2 class="h2-security"><i class="fa-solid fa-key m-1"></i> Actualizar mi contraseña</h2>
    <p style="font-family: Poppins; letter-spacing: -1.3px; font-size: 1.2rem; color: rgb(80,80,80)">Esta opción puede
        ayudarte a fortalecer la seguridad de tu cuenta.</p>

    <div class="form">
        <form class="form-password" [formGroup]="passwordUpdateForm" (submit)="handleSubmit()">
            <label for="password" class="form-label"
                style="font-family: Poppins; letter-spacing: -1.2px; color:gray; margin-top: 5px;">Ingresa tu contraseña
                actual</label>
            <input type="password" placeholder="Contraseña actual" class="form-control input" id="password"
                style="background-color: #94ffaa;font-family: 'Poppins'!important; letter-spacing: -1.2px!important;"
                required formControlName="password">
            <label for="newPassword" class="form-label"
                style="font-family: Poppins; letter-spacing: -1.2px; color:gray; margin-top: 5px;">Ingresa tu nueva
                contraseña</label>
            <input type="password" placeholder="Tu nueva contraseña" class="form-control input" id="newPassword"
                style="background-color: #94ffaa;font-family: 'Poppins'!important; letter-spacing: -1.2px!important;"
                required formControlName="newPassword">
            <label for="repeatNewPassword" class="form-label"
                style="font-family: Poppins; letter-spacing: -1.2px; color:gray; margin-top: 5px;">Repite tu nueva
                contraseña</label>
            <input type="password" placeholder="Repite tu nueva contraseña" class="form-control input"
                id="repeatNewPassword"
                style="background-color: #94ffaa;font-family: 'Poppins'!important; letter-spacing: -1.2px!important;"
                required formControlName="repeatNewPassword">
            <input type="submit" class="btn btn-success mt-2"
                style="font-family: Poppins; letter-spacing: -1.2px; font-weight: 500;" value="CAMBIAR CONTRASEÑA">
        </form>
    </div>
</div>