.form-password{
    background-color: whitesmoke!important;
    padding: 1rem;
    box-shadow: 0px 1px 12px 1px gray;
    border-radius: 12px
}
label{
    font-family: Poppins; letter-spacing: -1.2px; color:gray
}