form {
    padding: 2rem;
    background: linear-gradient(190deg, #ffffff, #fbffd9);
    font-family: "Poppins";
    box-shadow: 0px 0px 14px 2px rgb(140, 140, 140);
    border-radius: 35px;
    max-width: 100%;
    width: 400px;
    aspect-ratio: 1/1;
    letter-spacing: -1.2px;
}
.forgot-password{
    text-decoration: none;
    color: black;
}
.sing-up-offer {
    font-family: "Poppins";
    font-size: 1.1rem;
}

input[type=text],
input[type=password] {
    background-color: #c7ffaf;
}
.fadeInContainer{
    animation: fadeIn 0.6s ease-in-out;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1; 
    }
}
#basic-addon1 {
    background-color: black;
    color: #c7ffaf;
}