<div class="col p-3">
    @if(!loading){
    @if(!errorMessage){

    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-inner">
            <div class="carousel-item active text-center" data-bs-interval="10000">
                <span style="font-size: 3.2rem; font-family: Poppins; letter-spacing: -1.2px;"
                    [ngStyle]="{color: netWorth.valueOf() >= 0 ? 'green' : 'red'}"><i class="fa-solid fa-chart-simple m-4"></i>
                    <strong>$</strong>{{formatValue(netWorth)}}</span>
                <div>
                    <h4 class="h4-element">Patrimonio neto total</h4>
                </div>
            </div>
            <div class="carousel-item text-center" data-bs-interval="10000">
                <span style="font-size: 3.2rem; font-family: Poppins; letter-spacing: -1.2px;"
                    [ngStyle]="{color: netWorthByCurrentYear.valueOf() >= 0 ? 'green' : 'red'}"><i
                        class="fa-solid fa-chart-simple m-4"></i>
                    <strong>$</strong>{{formatValue(netWorthByCurrentYear)}}</span>
                <div>
                    <h4 class="h4-element">Patrimonio neto del año</h4>
                </div>
            </div>
            <div class="carousel-item text-center" data-bs-interval="2000">
                <span style="font-size: 3.2rem; font-family: Poppins; letter-spacing: -1.2px;"
                    [ngStyle]="{color: netWorthByCurrentMonth.valueOf() >= 0 ? 'green' : 'red'}"><i
                        class="fa-solid fa-chart-simple m-4"></i>
                    <strong>$</strong>{{formatValue(netWorthByCurrentMonth)}}</span>
                <div>
                    <h4 class="h4-element">Patrimonio neto del mes</h4>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="align-items-center justify-content-center d-flex">
        <button (click)="showOptions()" class="btn btn-dark mt-1 m-2" style="font-family: Poppins; font-weight: 800; letter-spacing: -1.2px;"
            [ngStyle]="{'background-color': showOption ? 'rgb(100,100,100)' : 'rgb(40,40,40)'}">OPCIONES
            RÁPIDAS</button>

        <a class="btn btn-dark mt-1 m-2" style="font-family: Poppins; font-weight: 800; letter-spacing: -1.2px;"
            routerLink="finances" (click)="setDataDashboardFinance()">+IR AL RESUMEN</a>
    </div>
    @if(showOption){
    <div class="fast-option d-flex flex-column fadeInContainer"
        style="padding: 1rem; border-radius: 8px; background-color: rgb(205,205,205); position: fixed; left: 904px; box-shadow: 0px 0px 12px 1px black;">
        <button class="btn m-1" style="width: 60%; background-color: red; color: whitesmoke;"
            (click)="showOptions()"><strong class="m-1">X</strong> CERRAR</button>
        <button class="btn btn-dark m-1" style="font-family: Montserrat; letter-spacing: -1.3px; font-weight: 800;"
            data-bs-toggle="offcanvas" data-bs-target="#offCanvasInterface" aria-controls="offCanvasInterface"
            (click)="setSelectedForm('active')">+
            AÑADIR UN ACTIVO</button>
        <button class="btn btn-dark m-1" style="font-family: Montserrat; letter-spacing: -1.3px; font-weight: 800;"
            data-bs-toggle="offcanvas" data-bs-target="#offCanvasInterface" aria-controls="offCanvasInterface"
            (click)="setSelectedForm('passive')">+
            AÑADIR UN PASIVO</button>
    </div>
    }
    } @else{
    <div class="alert alert-danger flex-column" role="alert">
        <p class="errorMessage"><i class="fa-solid fa-xmark m-1"></i> {{errorMessage}}</p>
        <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#netWorthInterface"
            aria-controls="netWorthInterface">AGREGAR MI PRIMER REGISTRO</button>
    </div>
    <h4 class="h4-element">Patrimonio neto</h4>
    }
    } @else {
    <div class="d-flex justify-content-center mt-2">
        <div class="spinner-border text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    }
    <!--Aniadir un primer registro de net worth-->
    <app-menu-off-canvas></app-menu-off-canvas>
</div>