<div class="col p-3">
    @if(loading){
    <div class="d-flex justify-content-center mt-2">
        <div class="spinner-border text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    } @else {

    @if(!errorMessage){

    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators m-3" style="position: fixed;">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active text-center" data-bs-interval="10000">
                <span style="font-size: 3.2rem; font-family: Poppins; letter-spacing: -1.2px;"
                    [ngStyle]="{color: netWorth >= 0 ? 'green' : 'red'}"><i class="fa-solid fa-chart-simple m-4"></i>
                    <strong>$</strong>{{formatValue(netWorth)}}</span>
                <div>
                    <h4 class="h4-element">Patrimonio neto total</h4>
                </div>
            </div>
            <div class="carousel-item text-center" data-bs-interval="10000">
                <span style="font-size: 3.2rem; font-family: Poppins; letter-spacing: -1.2px;"
                    [ngStyle]="{color: netWorthByCurrentYear >= 0 ? 'green' : 'red'}"><i
                        class="fa-solid fa-chart-simple m-4"></i>
                    <strong>$</strong>{{formatValue(netWorthByCurrentYear)}}</span>
                <div>
                    <h4 class="h4-element">Patrimonio neto del año</h4>
                </div>
            </div>
            <div class="carousel-item text-center" data-bs-interval="2000">
                <span style="font-size: 3.2rem; font-family: Poppins; letter-spacing: -1.2px;"
                    [ngStyle]="{color: netWorthByCurrentMonth >= 0 ? 'green' : 'red'}"><i
                        class="fa-solid fa-chart-simple m-4"></i>
                    <strong>$</strong>{{formatValue(netWorthByCurrentMonth)}}</span>
                <div>
                    <h4 class="h4-element">Patrimonio neto del mes</h4>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="align-items-center justify-content-center d-flex">
        <button class="btn btn-dark mt-1 m-2"
            style="font-family: Poppins; font-weight: 800; letter-spacing: -1.2px;" (click)="showOptions()" [ngStyle]="{'background-color': showOption ? 'rgb(100,100,100)' : 'rgb(40,40,40)'}">+OPCIONES
            RÁPIDAS</button>

        <a class="btn btn-dark mt-1 m-2"
            style="font-family: Poppins; font-weight: 800; letter-spacing: -1.2px;" routerLink="finances" (click)="setDataDashboardFinance()">+IR AL RESUMEN</a>
    </div>
    @if(showOption){
    <div class="fast-option d-flex flex-column fadeInContainer"
        style="padding: 1rem; border-radius: 8px; background-color: rgb(205,205,205); position: fixed; left: 904px; box-shadow: 0px 0px 12px 1px black;">
        <button class="btn m-1" style="width: 60%; background-color: red; color: whitesmoke;"
            (click)="showOptions()"><strong class="m-1">X</strong> CERRAR</button>
        <button class="btn btn-dark m-1" style="font-family: Montserrat; letter-spacing: -1.3px; font-weight: 800;"
            data-bs-toggle="offcanvas" data-bs-target="#netWorthInterface" aria-controls="netWorthInterface"
            (click)="setSelectedForm('active')">+
            AÑADIR UN ACTIVO</button>
        <button class="btn btn-dark m-1" style="font-family: Montserrat; letter-spacing: -1.3px; font-weight: 800;"
            data-bs-toggle="offcanvas" data-bs-target="#netWorthInterface" aria-controls="netWorthInterface"
            (click)="setSelectedForm('passive')">+
            AÑADIR UN PASIVO</button>
    </div>
    }
    } @else{
    <div class="alert alert-danger flex-column" role="alert">
        <p class="errorMessage"><i class="fa-solid fa-xmark m-1"></i> {{errorMessage}}</p>
        <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#netWorthInterface"
            aria-controls="netWorthInterface">AGREGAR MI PRIMER REGISTRO</button>
    </div>
    <h4 class="h4-element">Patrimonio neto</h4>
    }
    }
    <!--Aniadir un primer registro de net worth-->
    <div class="offcanvas offcanvas-start p-3" data-bs-scroll="true" tabindex="-1" id="netWorthInterface"
        aria-labelledby="netWorthTitle">
        <div class="offcanvas-header">
            <div class="d-flex">
                <img src="https://res.cloudinary.com/dtwek4wxj/image/upload/v1740788163/47419_b3g0v1.png"
                    alt="isotype-greenteccnia" width="45" class="mr-2">
                <h5 class="offcanvas-title"
                    style="font-family: Poppins; font-size: 2rem; letter-spacing: -1.2px; font-weight: 700;"
                    id="netWorthTitle">{{ !showOption ? 'Añade tu primer registro' : "Añade un registro rápido"}}</h5>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div style="color: #b2ff94; background-color: rgb(40,40,40); border-radius: 7px;"
                class="p-1 d-flex flex-column align-items-center justify-content-center">
                <div>
                    <p
                        style="font-family: Poppins; margin: 0%; letter-spacing: -1.2px; font-weight: 500; text-align: start;">
                        <i class="fa-solid fa-circle-info m-1"></i> Una vez añadas
                        un activo o pasivo, tu patrimonio neto comienza a calcularse automáticamente en GreenTeccnia+.
                        Para crear
                        tu esquema de finanzas, añade una operación real.
                    </p>
                </div>
            </div>
            <app-menu-net-worth [selectedFormInput]="selectedFormInput"></app-menu-net-worth>
        </div>
    </div>
</div>