<section class="m-1 fade-in-container">
    <button class="btn btn-danger btn-back" (click)="back()">VOLVER</button>
    <div class="d-flex align-items-center">
        <h1 class="h1-finances">Dashboard del {{type == 'netWorth' ? "patrimonio neto": 'flujo de caja'}}</h1>
        <button class="btn-info btn m-1" (click)="setPeriod()"
            style="font-family: Montserrat; letter-spacing: -1.1px; font-weight: 800;"><i
                class="fa-solid fa-filter"></i> {{selectedPeriod =='month' ? 'MENSUAL' : selectedPeriod == 'year' ?
            'ANUAL' : 'TRIMESTRAL'}}</button>
    </div>

    <app-summary-complete class="summary" [enterpriseId]="enterpriseId"></app-summary-complete>
    @if(selectedPeriod){
    <div style="display: grid; grid-template-columns: 63% 36.5%; grid-gap: 4px;" class="m-1">
        <app-traced-items class="charts" [type]="type" [enterpriseId]="enterpriseId"
            [selectedPeriod]="selectedPeriod"></app-traced-items>
        <app-composition-items class="composition" [type]="type" [enterpriseId]="enterpriseId"
            [selectedPeriod]="selectedPeriod"></app-composition-items>
    </div>
    }
</section>