.box_data {
    background: linear-gradient(130deg, rgba(20,125,20,0.2), rgba(170,255,170,0.1), rgb(0,45,7));
    padding: 0.9rem;
    border: 1px solid springgreen;
    min-height: 160px;
    border-radius: 8px;
}
.box_data_first_row {
    min-height: 140px !important;
}

.first_row,
.other_rows {
    display: grid;
    grid-gap: 2px;
}

.general_panel_employees .first_row {
    grid-template-columns: 25% 25% 49.7%;
}

.other_rows {
    grid-template-columns: 50.2% 49.6%;
}

.number_date,
.text_date {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    color: rgb(5, 81, 5);
    font-family: Montserrat;
    font-size: 2.6rem;
}

.number_date {
    font-weight: 700;
    color: springgreen;
}

.text_date {
    letter-spacing: -1.6px;
    font-weight: 600;
    color: springgreen;
}

.label_camp {
    font-size: 1rem;
    letter-spacing: -1px;
    margin: 0%;
    color: springgreen;
    font-weight: 600;
    font-family: Montserrat;
}

.red-growth,
.green-growth {
    color: whitesmoke;
    padding: 0.4rem;
    border-radius: 6px;
}

.red-growth {
    background: linear-gradient(190deg, rgb(185, 20, 20), rgb(214, 29, 29));
}

.green-growth {
    background: linear-gradient(160deg, rgb(10, 110, 10), rgb(34, 122, 40), rgb(5, 199, 4));
}

.list_employees_satisfaction {
    font-family: Montserrat;
    margin-top: 0.5rem;
    font-weight: 700;
    letter-spacing: -1.1px;
}

.item_list {
    display: flex;
    justify-content: space-between;
}
.item_list li{
    color: whitesmoke;
}
.span_bottom {
    font-size: 0.9rem;
    font-family: Montserrat;
    letter-spacing: -1.1px;
    color: whitesmoke;
    font-weight: 600;
    margin: 0%;
}

.source_average-satisfaction {
    font-weight: 400;
    letter-spacing: -1.2px;
    color: whitesmoke;
    font-family: Montserrat;
}

.major_of_eight {
    color: rgb(20, 213, 20)!important;
}

.minor_of_six {
    color: red!important;
}

.minor_of_eight_and_major_of_six {
    color: orange!important;
}

.p_advertising {
    color: springgreen;
    margin: 1.3rem 0% 0% 0%;
    font-family: Montserrat;
    letter-spacing: -1.3px;
    text-align: center;
}

.neutral_index,
.positive_index,
.negative_index{
    font-family: Montserrat;
    letter-spacing: -1.1px;
    color: whitesmoke;
    padding: 0.3rem;
    border-radius: 5px;
}
.neutral_index{
    background-color: rgb(169, 110, 1);
}
.positive_index{
    background-color: green!important;
}
.negative_index{
    background-color: rgb(185, 20, 20)!important;
}
.alert-danger{
    background: linear-gradient(180deg, rgb(255,210,210), whitesmoke)!important;
}
.table_employees{
    background-color: springreen;
    opacity: 0.8;
    padding: 0.4rem;
}
.form-label{
    font-family: Montserrat;
    color: whitesmoke;
    letter-spacing: -1px;
}
.table-light{
    background-color: none;
    font-family: Montserrat;
}
.table-light th, .table-light td{
    background: none;
    color: springgreen;
}
.table-light th{
    letter-spacing: -1.3px;
}
.table-light td{
    font-weight: 400;
    letter-spacing: -1.2px;
}
.fa-solid{
    cursor: pointer;
    transition: 0.4s all;
}
.fa-solid:hover{
    transition: 0.4s all;
    transform: scale(1.2,1.2);
}
.btn-next-or-prev_gender-parity{
    font-size: 1.2rem;
    font-family: Montserrat;
    letter-spacing: -1px;
    border: none;
    transition: 0.4s;
}
.btn-next-or-prev_gender-parity:disabled{
    background-color: gray!important;
}
.btn-next-or-prev_gender-parity:hover{
    transform: scale(1.1,1.1);
    transition: 0.4s;
}
.btn-dark{
    font-family: Montserrat;
    margin: 0%;
    letter-spacing: -1px;
    border-radius: 6px;
    border: 1px solid gray;
    cursor: pointer;
}
.btn-dark:hover{
    background-color: white;
}
.list{
    color: whitesmoke;
}
.apexcharts-title-text{
    color: white;
}
.apexcharts-yaxis text {
  fill: rgb(0,255,127) !important;
  font-size: 12px !important;
  font-family: Montserrat!important;
}
.apexcharts-xaxis text {
  fill: rgb(0,255,127) !important;
  font-family: Montserrat!important;
}