<div style="background-color: whitesmoke;" class="col">

    @if(!loading){

    @if(!errorMessage){
    <div>
        <div>

            <div class="p-2">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions"
                    [legend]="true" [type]="pieChartType">
                </canvas>
            </div>
        </div>
    </div>

    <div class="text-center mt-2">
        <h4 class="h4-element">Participación de género en la empresa</h4>
    </div>
    } @else {
    <div class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
    }
    <div class="d-flex flex-column">
        <button class="btn btn-dark mt-1 m-2" style="font-family: Poppins; font-weight: 800; letter-spacing: -1.2px;"
            routerLink="finances" (click)="goToRRHH()">+IR AL RESUMEN</button>
    </div>
    } @else {
    <div class="d-flex justify-content-center mt-2">
        <div class="spinner-border text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    }

</div>