<section class="d-flex flex-direction-column justify-content-center mt-3 fade-in-container">
    <form [formGroup]="formToForgotPassword" (submit)="handleSubmit()"  class="m-5 d-flex flex-column" style="width: 35%;">
        <div class="container-isotype d-flex flex-column align-items-center">
            <img src="https://res.cloudinary.com/dtwek4wxj/image/upload/v1740788163/47419_b3g0v1.png"
                alt="isotype-greenteccnia" width="50">
        </div>
        <div class="container-welcome">
            <h2 class="text-center mb-4">Ingresa tu email</h2>
            <p style="letter-spacing: -1.4px; font-family: Poppins; color: rgb(90,90,90);" class="text-center">Te llegará un código 2FA a tu correo. Deberás ingresarlo para continuar con el proceso.
            </p>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Tu email</label>
            <input type="email" style="font-size: 1.4rem;" class="form-control text-center" id="email"
            placeholder="alguien@example.com" name="email" formControlName="email" required>
        </div>
        @if(loading){
        <div class="d-flex flex-column align-items-center mb-2">
    
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        }
        @if(errorMessage){
            <p style="color: red; font-size: 0.8rem; letter-spacing: -0.6px; font-weight: 700;" class="p-2 m-2 alert alert-danger text-center">{{errorMessage}}</p>
        }
        <button type="submit" class="btn btn-success mt-2"><strong>Enviar</strong></button>
        <a class="btn-danger btn mt-2" routerLink="/forgot-password"><strong>&#8592; Volver</strong></a>
    </form>
</section>