
h1{
    font-family: "Poppins";
    letter-spacing: -1.6px;
    color: rgb(50,50,50);
    font-size: 1.8rem;
}
.container-user-info{
    background-color: whitesmoke;
    min-height: 100vh;
    width: 100%;
}
.sidebar{
    background: linear-gradient(180deg, rgb(10,10,10), rgb(40,40,40));
    font-family: "Poppins";
}
.nav-link{
    text-decoration: none;
    color: whitesmoke!important;
    font-size: 1.15rem;
    padding: 0.4rem;
    margin: 5px 8px 3px 1px;
    border-radius: 5px;
    letter-spacing: -1.7px;
    font-weight: 600;
    transition: 0.27s all ease-in!important;
}
.nav-link:hover{
    text-decoration: underline whitesmoke;
    color: rgb(220,220,220)!important;
    transition: 0.27s all ease-in!important;
}
.router{
    grid-area: router;
    animation: fadeIn 0.2s ease-in forwards;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}