<section class="p-4 mt-2 fadeInContainer">
    <h1 style="font-family: Poppins; letter-spacing: -1.4px;">Te damos la bienvenida a GreenTeccnia+</h1>
    <p style="letter-spacing: -1.4px; font-family: Poppins; color: rgb(97, 97, 97);">Gracias por registrarte en GreenTeccnia+. Comienza a gestionar tu empresa, proyecto o Startup con un enfoque
        sustentable y racional en lo concerniente a finanzas, recursos humanos, reportes laborales y muchos otros.</p>
        <a routerLink="/log-in" class="btn btn-success" style="letter-spacing: -1.4px; font-family: Poppins; font-weight: 700;">IR AL INICIO DE SESIÓN</a>
</section>