<div class="box_data box_data_first_row">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <button class="btn btn-primary p-1 m-1" (click)="previousStep()"
                [disabled]="this.step ===0">&#8592;</button>
        </div>
        <div class="text-center">
            <h3 class="label_camp text-start">🔄️ Tasa de rotación</h3>
            @switch (step) {

            @case(0){
            <span class="number_date fade-in-container">{{turnoverMonth}}%</span>

            <div>
                <span class="span_bottom">EN EL MES</span>
            </div>
            }
            @case(1){
            <span class="number_date fade-in-container">{{turnoverYear}}%</span>

            <div>
                <span class="span_bottom">EN EL AÑO</span>
            </div>
            }
            }
        </div>
        <button class="btn btn-primary p-1 m-1" (click)="nextStep()" [disabled]="this.step ===1">&#8594;</button>
    </div>

</div>