<div class="navbar flex-column fadeInContainer"
    style="background-color: #b2ff94; margin-top: 0.9rem; border-radius: 6px;align-items: inherit; justify-content: center;">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <button class="nav-link" type="button" (click)="showForm('active'); $event.preventDefault()"
                style="font-family: Poppins; letter-spacing: -1.2px; font-weight: 600; padding:0.4rem; border:1px solid green; border-radius: 5px; margin:0.3rem; color: green"
                [ngStyle]="{'background': selectedForm === 'active' ? 'black' : 'none', 'color': selectedForm === 'active' ? '#b2ff94' : 'green'}"><span style="color: green;">&uarr;</span> Activos</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" type="button" (click)="showForm('passive'); $event.preventDefault()"
                style="font-family: Poppins; letter-spacing: -1.2px; font-weight: 600; padding:0.4rem; border:1px solid green; border-radius: 5px; margin:0.3rem; color: green"
                [ngStyle]="{'background': selectedForm === 'passive' ? 'black' : 'none', 'color': selectedForm === 'passive' ? '#b2ff94' : 'green'}">
                <span style="color: red;">&darr;</span> Pasivos</button>
        </li>
    </ul>
    <div class="routing flex-column">
        @if(selectedForm == "active"){
        <app-add-active [selectedForm]="selectedForm"></app-add-active>
        } @else {
        <app-add-passive [selectedForm]="selectedForm"></app-add-passive>
        }
    </div>
</div>