.h1 {
    font-family: Montserrat;
    letter-spacing: -1.9px;
    font-weight: 800;
    color: whitesmoke;
}
h3 {
    letter-spacing: -1.7px;
    color: black;
    text-align: start;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: Montserrat;
}
.summary {
    background: linear-gradient(190deg, rgb(0, 120, 6), rgb(0, 83, 0), gray, black, rgb(25, 159, 92), rgb(72, 100, 69));
    padding: 2rem;
}
.container-boxes {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 6px;
    font-family: Poppins;
}
.box {
    background: linear-gradient(210deg, whitesmoke, rgb(180, 255, 180));
    padding: 0.8rem;
    border-radius: 8px;
}
.box .data {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -1.5px;
}
.grids{
    display: grid;
    grid-gap: 4px;
    grid-template-rows: auto;
}
.growth-employees{
    padding: 0.2rem;
    margin: 0.4rem;
    font-size: 0.8rem;
    letter-spacing: -0.8px;
    font-family: Montserrat;
    font-weight: 600;
    border-radius: 5px;
    color: whitesmoke;
}
.growth-green{
    background-color: green;
}
.growth-red{
    background-color: red;
}
@media (max-width:1200px) {
    .data{
        font-size: 2rem!important;
    }
    .box{
        justify-content: center;
        align-items: center;
    }
    h3{
        font-size: 1rem;
    }
}